/*******************
  BASE SETUP
*******************/

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

img, video {
	width: 100%;
}

html {
	font-family: 'Roboto Mono', monospace;
	font-size: 16px;
}

/******************************************
/* GENERAL
/*******************************************/

body {
	background-color: #000;
	margin: 0;
	padding: 0;
}

a {
	color: #fff;
	text-decoration: none;
}

p {
	padding: 20px;
}

.frame {
	border: 7.5px solid #000;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100vh;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	min-width: 320px;
}

.col-middle {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 100%;
}

.col-left, .col-right {
	display: none;
}

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0;
}

.cell {
	background-color: #fff;
	border: 7.5px solid #000;
	overflow: hidden;
	padding: 0;
	position: relative;
}

.cell:hover {
	cursor: pointer;
}

.colour-red {
	background-color: #f00;
}

.colour-blue {
	background-color: #00f;
}

.colour-yellow {
	background-color: #ff0;
}

.colour-red-retro {
	background-color: #AB3A30;
}

.colour-blue-retro {
	background-color: #626D80;
}

.colour-yellow-retro {
	background-color: #BFAD69;
}

.colour-white {
	background-color: #fff;
}

.colour-grey {
	background-color: #808080;
}

.hidden {
	opacity: 0;
}

.hide {
	display: none;
}

.link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.link div {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 100%;
}

.image-click {
	background-color: #808080;
	background-image: url('../images/piet-mondrian_m.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#mr2c2image img {
	height: 100%;
}

/******************************************
/* CELLS
/*******************************************/

/*LEFT COL*/
#lc1 {
	height: 30%;
}

#lc2 {
	height: 32.5%;
}

#lc3 {
	height: 37.5%;
}

/*MIDDLE COL - ROW HEIGHTS*/
.col-middle .row-1 {
	height: 30%;
}

.col-middle .row-2 {
	height: 32.5%;
}

.col-middle .row-3 {
	height: 18.75%;
}

.col-middle .row-4 {
	height: 18.75%;
}

/*MIDDLE COL - ROW 1*/
#mr1c1 {
	width: 15%;
}

#mr1c2 {
	width: 35%;
}

#mr1c3 {
	width: 38%;
}

#mr1c4 {
	width: 12%;
}

/*MIDDLE COL - ROW 2*/
#mr2c1 {
	width: 15%;
}

#mr2c1h {
	display: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 15%;
}

#mr2c1h1 {
	border: none;
	border-bottom: 10px solid #000;
	height: 50%;
}

#mr2c1h2 {
	border: none;
	border-top: 10px solid #000;
	height: 50%;
}

#mr2c2 {
	width: 35%;
}

#mr2c3 {
	width: 13%;
}

#mr2c4 {
	width:25%;
}

#mr2c5 {
	width: 12%;
}

/*MIDDLE COL - ROW 3*/
#mr3c1 {
	width: 15%;
}

#mr3c2 {
	width: 48%;
}

#mr3c3 {
	width: 25%;
}

#mr3c4 {
	width: 12%;
}

/*MIDDLE COL - ROW 4*/
#mr4c1 {
	width: 15%;
}

#mr4c2 {
	width: 48%;
}

#mr4c2h1 {
	width: 15%;
}

#mr4c2h2 {
	width: 33%;
}

#mr4c3 {
	width: 37%;
}

/*RIGHT COL*/
#rc1 {
	height: 30%;
}

#rc2 {
	height: 51.25%;
}

#rc3 {
	height: 18.75%;
}

/******************************************
/* POPUP STYLES
/*******************************************/

.popup-text {
  background: #FFF;
  margin: 20px auto;
  max-width: 500px;
  padding: 20px;
  position: relative;
  width: auto;
}

/******************************************
/* Magnific Popup animations
/*******************************************/

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

/******************************************
/* MEDIA 700px
/*******************************************/

@media (min-width: 700px) {

	.col-left, .col-right {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		width: 8%;
	}

	.col-middle {
		width: 85%;
	}

}

/******************************************
/* MEDIA 1200px
/*******************************************/

@media (min-width: 1200px) {

	body {
		background-color: #DECEC1;
	}

	.frame {
		min-height: 500px;
		max-height: 800px;
		max-width: 1200px;
		width: auto;
	}

}